<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <title>Изменение Таблицы</title>
</head>
<body>
<h3>Внесение Домашнего Задания</h3>
<script src="/static/js/uniqe_index.js"></script>
<!--{%for i in index%}-->
<!--{{rasp[i]}}:-->
<!--<form method="POST">-->
<!--    <input name="w" type="text" id="in_dz">-->
<!--    <script>-->
<!--        inp()-->
<!--    </script>-->
<!--    <br>-->
<!--    <br>-->
<!--    {%endfor%}-->
<!--    <input class="button" type="submit" value="Отправить">-->
<!--</form>-->
<form method="POST">
    <table class="table_table" border="1">
        {%for i in index%}
            <tr>
                <th>
                    {{rasp[i]}}
                </th>
                <th>
                    <input class="input_table" name="sdds" type="text" id="in_dz">
                    <script>
                        inp()
                    </script>
                </th>
            </tr>
        {%endfor%}
    </table>
    <input class="button" type="submit" value="отправить">
</form>
</body>
</html>