<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Таблица</title>
</head>
<body>
<!--<div style="color: black" id="dz2">{{dz}}</div>-->
<!--<div style="color: black" id="sub2">{{subject}}</div>-->
<script src="/static/js/table.js"></script>
<form action="/edit" target="_blank">
    <button>Внести данные</button>
</form>
<form action="/resetpassword" target="_blank">
    <button>Изменить пароль</button>
</form>
<table class="table" border="2">
    <tr>
        <th>число</th>
        <th>предмет</th>
        <th>домашнее задание</th>
    </tr>
</table>
<h6></h6>
<!--{%for i in index%}-->
<!--<table class="table" border="1">-->
<!--    <tr>-->
<!--        <th>{{date[i]}}</th>-->
<!--    </tr>-->
<!--</table>-->
<!--<table class="table" border="1">-->
<!--    {%for j in index2%}-->
<!--    <tr>-->
<!--        <th id="sub1">{{subject[j]}}</th>-->
<!--        <th id="dz1">{{dz[j]}}</th>-->
<!--    </tr>-->
<!--    <script>-->
<!--        split_table()-->
<!--    </script>-->
<!--    {%endfor%}-->
<!--</table>-->
<!--<h4></h4>-->
<!--{%endfor%}-->
<table class="table" border="1">
    {%for j in index2%}
    <tr>
        <th>{{date[j]}}</th>
        <th id="sub1">{{subject[j]}}</th>
        <th id="dz1">{{dz[j]}}</th>
    </tr>
    <script>
        split_table()
    </script>
    {%endfor%}
</table>
<h4></h4>
</body>
</html>