<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Таблица</title>
</head>
<body>
<script src="/static/js/table.js"></script>
<form action="/edit" target="_blank">
    <button>Внести данные</button>
</form>
<form action="/resetpassword" target="_blank">
    <button>Изменить пароль</button>
</form>
<table class="table" border="2">
    <tr>
        <th>предмет</th>
        <th>домашнее задание</th>
    </tr>
</table>
<h6></h6>
<table class="table" border="1">
<script>
    split_table('{{dz}}', '{{subject}}', '{{date}}')
</script>
</table>

<h4></h4>
</body>
</html>